body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.btn {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: transparent;

  transition: color var(--time) var(--function-animate),
    background-color var(--time) var(--function-animate);
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: var(--primary-text-color);
}

.link {
  transition: color var(--time) var(--function-animate);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
