body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.btn {
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: transparent;

  transition: color var(--time) var(--function-animate),
    background-color var(--time) var(--function-animate),
    border var(--time) var(--function-animate);
}

.btn:hover,
.btn:focus {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  border: var(--accent-color);
}

.link {
  transition: color var(--time) var(--function-animate);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: #111319;
  background-image: linear-gradient(0deg, #929292cc, #f7f7f7c7),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 100vw;
}
