:root {
  --accent-color: #ff6b01;
  --current-color: #ff001b;
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;
  --add-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --background-color: #f7f7f7;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}
