<form class="filter__form" id="filter-form">
  <select class="filter__form-select" name="genreForm" id="genreForm">
    <option class="filter__form-genres" value="start">Genre</option>
    <option class="filter__form-genres" value="28">Action</option>
    <option class="filter__form-genres" value="12">Adventure</option>
    <option class="filter__form-genres" value="16">Animation</option>
    <option class="filter__form-genres" value="35">Comedy</option>
    <option class="filter__form-genres" value="80">Crime</option>
    <option class="filter__form-genres" value="99">Documentary</option>
    <option class="filter__form-genres" value="18">Drama</option>
    <option class="filter__form-genres" value="10751">Family</option>
    <option class="filter__form-genres" value="14">Fantasy</option>
    <option class="filter__form-genres" value="36">History</option>
    <option class="filter__form-genres" value="27">Horror</option>
    <option class="filter__form-genres" value="10402">Music</option>
    <option class="filter__form-genres" value="9648">Mystery</option>
    <option class="filter__form-genres" value="10749">Romance</option>
    <option class="filter__form-genres" value="878">Science Fiction</option>
    <option class="filter__form-genres" value="10770">TV Movie</option>
    <option class="filter__form-genres" value="53">Thriller</option>
    <option class="filter__form-genres" value="10752">War</option>
    <option class="filter__form-genres" value="37">Western</option>
  </select>

  <select class="filter__form-select" name="yearForm" id="yearForm">
    <option value="start">Year</option>
  </select>
  <button type="button" class="button__reset" id="button__reset">Reset</button>
  <button type="button" class="button__test" id="button__test">Test</button>
</form>
