<header class="header-library">
  <div class="container">
    <nav class="nav">
      <a class="logo__link link" href="./index.html"
        ><svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-filmoteka"></use></svg
        ><span class="logo__title">Filmoteka</span>
      </a>
      <ul class="nav-list list">
        <li class="nav-list__item">
          <a class="nav-list__link link" href="./index.html">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link current" href="./page_library.html"
            >my library</a
          >
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="./index.html">Sign in</a>
        </li>
      </ul>
    </nav>
    <ul class="btn__list list">
      <li class="btn__item">
        <button class="btn__watched btn is-active" type="button">
          Watched
        </button>
      </li>
      <li class="btn__item">
        <button class="btn__queue btn" type="button">queue</button>
      </li>
    </ul>
  </div>
</header>
