<header class="header">
  <div class="container-filmoteka">
    <nav class="nav">
      <a class="logo__link link" href="./index.html"
        ><svg class="logo__header-icon" width="24" height="24">
          <use href="./images/icons.svg#icon-filmoteka"></use>
        </svg>
        <span class="logo__title"> Filmoteka</span>
      </a>
      <ul class="nav-list__main list">
        <li class="nav-list__item">
          <a class="nav-list__link link current" href="./index.html">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="./page_library.html"
            >my library</a
          >
        </li>
        <!-- тимчасово -->
        <li class="nav-list__item">
          <a
            id="auth"
            href="#registration"
            class="header-main__btn"
            aria-label="sign in"
          >
            <svg class="header__registration-icon" width="32" height="32">
              <use
                href="./images/icons.svg#icon-account"
                class="header-main__svg"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <input
        class="search-form__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button aria-label="Search" type="submit" class="search-btn button">
        <svg class="search-btn__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="day-nigth-btn-box">
      <span class="day">
        <svg class="" width="24" height="24">
          <use href="./images/icons.svg#icon-sun"></use></svg
      ></span>
      <a href="#" class="themetoggle" aria-label="theme of page">
        <span class="material-icons"></span
      ></a>
      <span class="night">
        <svg class="" width="24" height="24">
          <use href="./images/icons.svg#icon-moon"></use></svg
      ></span>
    </div>
  </div>
</header>
