<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo__link link" href="./index.html"
        ><svg class="logo__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-filmoteka"></use></svg
        >Filmoteka
      </a>
      <ul class="nav-list list">
        <li class="nav-list__item">
          <a class="nav-list__link link" href="./index.html">Home</a>
        </li>
        <li class="nav-list__item">
          <a class="nav-list__link link" href="./page_library.html"
            >my library</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
