<div class="modalbackdrop-film">
  <div class="modal-film container">
    <button type="button" class="film-card-close" autofocus>
      <svg class="film-card-close-svg" width="18" height="18">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-card"></div>
    <!-- <div class="film-info">
		<img srcset="#" src="#" alt="film-poster" class="film-info__poster" />
		<div class="flex-wrapper">
       <h1 class="film-info__title">A FISTFUL OF LEAD</h1> 
     <table class="film-info__table">
		<tbody>
			<tr>
			  <td class="film-info__param">Vote / Votes</td>
			  <td>
				<span class="film-info__vote">7.3</span> /
				<span class="film-info__votes">1260</span>
			 </td>
		  </tr>
		  <tr class="spacer"></tr>
		  <tr>
			 <td class="film-info__param">Popularity</td>
			 <td>100.2</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
			  <td class="film-info__param">Original Title</td>
			  <td class="film-info__data-up">A FISTFUL OF LEAD</td>
			</tr>
			<tr class="spacer"></tr>
			<tr>
			  <td class="film-info__param">Genre</td>
			  <td>Western</td>
			</tr>
		 </tbody>
	  </table>
	  </table> 
	  <p class="film-info__about">About</p>
	  Four of the West’s most infamous outlaws assemble to steal a huge
	  stash of gold from the most corrupt settlement of the gold rush towns.
	  But not all goes to plan one is killed and the other three escapes
	  hit the very same bank! As tensions rise, things go from bad to worse
	  as they realise the bags of gold are filled with lead... they’ve been
	  double crossed – but by who and how?
	</p>
	</p> </div>
  </div> -->
    <div class="button-container">
      <button type="button" class="film-card-addToWatched">
        Add to watched
      </button>
      <button type="button" class="film-card-addToQueue">Add to queue</button>
    </div>
  </div>
</div>
