<div class="backdrop-team is-hidden-team" data-modal>
  <div class="modal-team">
    <button
      type="button"
      class="close-btn"
      data-modal-close
      aria-label="close button"
    >
      <svg class="icon-close">
        <use href="./images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <h2 class="team-title">Our team</h2>
    <ul class="team-list list">
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front1"></div>
          <div class="card__face card__face--back card-back1"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Kristyna Krasovska</h3>
          <h4 class="team-position">Team lead</h4>
          <p class="team-functional">
            Preparation of the basis of the site. Work with the repository and
            control of all processes in general.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto:kristuwa15@ukr.net"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/Kristuwa"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/khrystyna-krasovska/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front2"></div>
          <div class="card__face card__face--back card-back2"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Misha Panivnyk</h3>
          <h4 class="team-position">Assistant Team lead</h4>
          <p class="team-functional">
            Helping the team and all developers with difficulties. Development
            of the registration window. Designing a light and dark website
            theme.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://panivnykm@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/MishaPanivnyk"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://linkedin.com/in/misha-panivnyk/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front3"></div>
          <div class="card__face card__face--back card-back3"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Miakota Viacheslav</h3>
          <h4 class="team-position">Scrum Master</h4>
          <p class="team-functional">
            Layout of footer and modal window with team members. Organization of
            team meetings.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://parazyt2010@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/ViacheslavMiakota"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/viacheslav-miakota-72b431244/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front4"></div>
          <div class="card__face card__face--back card-back4"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Kateryna Trefilova</h3>
          <h4 class="team-position">Assistant Scrum Master</h4>
          <p class="team-functional">
            Layout of the main page container for the correct positioning of
            movie cards (mobile phone, tablet, desktop). Implementation of
            uploading of popular films to the main (first) page. Presentation of
            the project.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://trefilovaekateryna408@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/KateTref"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/kateryna-trefilova-2b4a8b255"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front5"></div>
          <div class="card__face card__face--back card-back5"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Oleksader Sorokolit</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Implementation of the logic of interaction with local stories. Help
            in stylization of modacles and team cards
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto:sorokolital@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/Alex-Sorokolit"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/oleksandr-sorokolit/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team6">
          <div class="card__face card__face--front card-front6"></div>
          <div class="card__face card__face--back card-back6"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Galya Humeniuk</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Layout of a modal template for one film (mobile phone, tablet,
            desktop). Implementation of requests.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://lethargium@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/Hi-tei-hi-me"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="#"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team7">
          <div class="card__face card__face--front card-front7"></div>
          <div class="card__face card__face--back card-back7"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Oleksader Romaniv</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">Layout and connection of pagination</p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://romaniv2511@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/romaniv2511"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/alexandr-romaniv-2775051a5/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team">
          <div class="card__face card__face--front card-front8"></div>
          <div class="card__face card__face--back card-back8"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Yevhen Leshchenko</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Layout of the "My Library" page for the correct positioning of movie
            cards (mobile phone, tablet, desktop)
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto:"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/Yevhen999"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="#"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team9">
          <div class="card__face card__face--front card-front9"></div>
          <div class="card__face card__face--back card-back9"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Anastasiia Melnyk</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Layout of the header of the main page. The logic of pressing the
            library and home buttons. Implementation of keyword search.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto://nastaisha1988@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/nastaisha1203"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/anastasiia-melnyk-4667b3255"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team10">
          <div class="card__face card__face--front card-front10"></div>
          <div class="card__face card__face--back card-back10"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Sergij Drobotun</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Logic for opening and closing a movie card on any page with
            dynamically populated movie information.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto:siviyserj@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/DrobotunS"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="#"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="card-team card-team11">
          <div class="card__face card__face--front card-front11"></div>
          <div class="card__face card__face--back card-back11"></div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Yevhen Zinich</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Spinner connection/layout for asynchronous requests.
          </p>
          <ul class="social-list">
            <li class="social-list__item list">
              <a
                href="mailto:zinich911@gmail.com"
                target="blank"
                class="social-list__link link"
                aria-label="email"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-mail2"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://github.com/EugeniiZinich"
                target="blank"
                class="social-list__link link"
                aria-label="github"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item list">
              <a
                href="https://www.linkedin.com/in/eugenii-zinych-8b9237126/"
                target="blank"
                class="social-list__link link"
                aria-label="linkedin"
              >
                <svg class="social-list__icon">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
