<div class="backdrop-team is-hidden-team" data-modal>
  <div class="modal-team">
    <button type="button" class="close-btn" data-modal-close>
      <svg class="icon-close">
        <use href="./images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <h2 class="team-title">Our team</h2>
    <ul class="team-list list">
      <li class="team-item">
        <div class="scene">
          <div class="card">
            <div class="card__face card__face--front card-front1"></div>
            <div class="card__face card__face--back card-back1"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Kristyna Krasovska</h3>
          <h4 class="team-position">Team lead</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card">
            <div class="card__face card__face--front card-front2"></div>
            <div class="card__face card__face--back card-back2">back</div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Miakota Viacheslav</h3>
          <h4 class="team-position"></h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
      <li class="team-item"></li>
    </ul>
  </div>
</div>
