<div class="backdrop-team is-hidden-team" data-modal>
  <div class="modal-team">
    <button
      type="button"
      class="close-btn"
      data-modal-close
      aria-label="close button"
    >
      <svg class="icon-close">
        <use href="./images/icons.svg#icon-close_40px"></use>
      </svg>
    </button>
    <h2 class="team-title">Our team</h2>
    <ul class="team-list list">
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front1"></div>
            <div class="card__face card__face--back card-back1"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Kristyna Krasovska</h3>
          <h4 class="team-position">Team lead</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front2"></div>
            <div class="card__face card__face--back card-back2"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Misha Panivnyk</h3>
          <h4 class="team-position">Assistant Team lead</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front3"></div>
            <div class="card__face card__face--back card-back3"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Miakota Viacheslav</h3>
          <h4 class="team-position">Scrum Master</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front4"></div>
            <div class="card__face card__face--back card-back4"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Ekaterina Trefilova</h3>
          <h4 class="team-position">Assistant Scrum Master</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front5"></div>
            <div class="card__face card__face--back card-back5"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Oleksader Sorokolit</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team card-team6">
            <div class="card__face card__face--front card-front6"></div>
            <div class="card__face card__face--back card-back6"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Halyna Humeniuk</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team card-team7">
            <div class="card__face card__face--front card-front7"></div>
            <div class="card__face card__face--back card-back7"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Oleksader Romaniv</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team">
            <div class="card__face card__face--front card-front8"></div>
            <div class="card__face card__face--back card-back8"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Yevhen Leshchenko</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team card-team9">
            <div class="card__face card__face--front card-front9"></div>
            <div class="card__face card__face--back card-back9"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Anastasia Melnyk</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team card-team10">
            <div class="card__face card__face--front card-front10"></div>
            <div class="card__face card__face--back card-back10"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Sergij Drobotun</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
      <li class="team-item">
        <div class="scene">
          <div class="card-team card-team11">
            <div class="card__face card__face--front card-front11"></div>
            <div class="card__face card__face--back card-back11"></div>
          </div>
        </div>
        <div class="team-block">
          <h3 class="team-name">Yevhen Zinich</h3>
          <h4 class="team-position">Developer</h4>
          <p class="team-functional">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi
            harum veritatis ipsam? Doloremque soluta est id iusto aspernatur
            provident itaque vero molestiae deserunt doloribus!
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
