<div class="modalbackdrop-team">
  <div class="modal-team">
    <!-- <div class="film-card">
			<button type="button" class="film-card-close" autofocus>
			  <svg class="film-card-close-svg" width="14" height="14">
				 <use href="./images/icons.svg#icon-close"></use>
			  </svg>
			</button>
			<img srcset="#" src="#" alt="film-poster" />
			<table>
			  <tbody>
				 <tr>
					<th>A FISTFUL OF LEAD</th>
				 </tr>
				 <tr>
					<td>Vote / Votes</td>
					<td>7.3 / 1260</td>
				 </tr>
				 <tr>
					<td>Popularity</td>
					<td>100.2</td>
				 </tr>
				 <tr>
					<td>Original Title</td>
					<td>A FISTFUL OF LEAD</td>
				 </tr>
				 <tr>
					<td>Genre</td>
					<td>Western</td>
				 </tr>
				 <tr>
					<td>About</td>
				 </tr>
				 <tr>
					<td>
					  Four of the West’s most infamous outlaws assemble to steal a huge
					  stash of gold from the most corrupt settlement of the gold rush towns.
					  But not all goes to plan one is killed and the other three escapes
					  with bags of gold hide out in the abandoned gold mine where they
					  happen across another gang of three – who themselves were planning to
					  hit the very same bank! As tensions rise, things go from bad to worse
					  as they realise the bags of gold are filled with lead... they’ve been
					  double crossed – but by who and how?
					</td>
				 </tr>
				 <tr>
					<td>
					  <button type="button" class="film-card-addToWatched">
						 Add to watched
					  </button>
					</td>
					<td>
					  <button type="button" class="film-card-addToQueue">
						 Add to queue
					  </button>
					</td>
				 </tr>
			  </tbody>
			</table>
		 </div> -->
  </div>
</div>
