footer > .container {
  position: absolute;
  top: auto;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  min-height: 100px;
  width: 100%;
  margin: 0 auto;
  padding: 29px;
  gap: 10px;

  @media screen and (min-width: 768px) {
    min-height: 79px;
    padding: 30px 130px;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 77px;
    padding: 30px 300px;
    gap: 10px;
  }
}
.footer-text,
.footer-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(84, 84, 84, 1);
}
.footer-text {
  display: flex;
}
.footer-block {
  display: flex;
}
.logo__icon {
  margin-left: 10px;
  margin-right: 10px;
}
