.header-library {
  min-width: 320px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 62px;

  background-color: #000000;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../images/header-bg-library-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-library-mob2@x.jpg');
  }

  @media screen and (min-width: 768px) {
    height: 219px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-library-tab.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/header-bg-library-tab2@x.jpg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-library-desk.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/header-bg-library-desk2@x.jpg');
    }
  }
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  @media screen and (min-width: 768px) {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo__title {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    margin-left: 10px;
    color: var(--primary-text-color);
  }
}

.nav-list {
  display: flex;
  margin-left: auto;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 39px;
}

.nav-list__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.nav-list__link.current::after {
  content: '';
  background-color: var(--accent-color);
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.btn__list {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.btn__item:not(:last-child) {
  margin-right: 20px;
}

.btn__item--btn {
  padding-bottom: 13px;
  padding-top: 13px;
  width: 130px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: var(--primary-text-color);
  background: transparent;
  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
}

.js-active-btn {
  background: var(--accent-color);
  border-radius: 5px;
  border: none;
}
