.header {
  min-width: 320px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 44px;
  padding-bottom: 92px;

  background-color: #000000;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../images/header-bg-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-mob@2x.jpg');
  }

  @include tablet {
    height: 216px;
    padding-top: 40px;
    padding-bottom: 81px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-tab.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/header-bg-tab2@x.jpg');
    }
  }

  @include desktop {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../images/header-bg-desk.jpg');

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../images/header-bg-desk2@x.jpg');
    }
  }
}

.nav-list__main {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 29px;
  @include tablet {
    margin-right: 39px;
  }
}

.header-main__btn {
  cursor: pointer;
  background: transparent;
  border-radius: 8px;
  border-color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding: 4px;

  transition: color var(--time) var(--function-animate),
    border-color var(--time) var(--function-animate);
}

.header-main__btn:hover,
.header-main__btn:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.search-form {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-bottom: 0.5px solid var(--primary-text-color);
  margin-top: 54px;
  width: 280px;
  display: flex;

  @include tablet {
    width: 336px;
    margin-top: 40px;
  }

  @include desktop {
    width: 394px;
    margin-top: 41px;
  }
}

.search-form__input {
  background: transparent;
  border: none;
  outline: none;
  min-width: 280px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    min-width: 321px;
  }
  @include desktop {
    min-width: 379px;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  color: var(--primary-text-color);
}
.search-btn__icon {
  stroke: currentColor;
  fill: transparent;
  transition: stroke var(--time) var(--function-animate);

  .search-btn:hover &,
  .search-btn:focus & {
    fill: transparent;
    stroke: var(--accent-color);
  }
}
.search-form__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
}
.header-main__svg {
  fill: white;
}
.nav-list__item:hover .header-main__svg {
  fill: var(--accent-color);
}
