body.body-is-hidden {
  overflow-y: hidden;
  height: 100vh;
}

.modalbackdrop-film {
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s all;
  &.modalbackdrop-film.active {
    opacity: 1;
    visibility: visible;
  }
}

.modal-film {
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  width: 280px;
  max-width: 95vw;
  height: auto;
  max-height: 95vh;
  top: 50%;
  left: 50%;
  padding: 16px 16px 40px 20px;
  @media screen and (min-width: $tablet) {
    width: 704px;
  }
  @media screen and (min-width: $desktop) {
    width: 806px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.film-card-close {
}

.film-card-close-svg {
}

.film-info {
}

.film-info__poster {
  width: 240px;
  margin: 0 auto;
  @media screen and (min-width: $tablet) {
    width: 264px;
  }
  @media screen and (min-width: $desktop) {
    width: 375px;
  }
}

.film-info__table {
  margin: 0 auto;
}

.film-info__title {
  text-align: center;
}

.film-info__param {
}

.film-info__data {
}

.film-info__vote {
}

.film-info__about {
  text-align: center;
}

.film-info__desc {
  overflow-y: auto;
}

.button-container {
  margin: 0 auto;
}

.film-card-addToWatched {
}

.film-card-addToQueue {
}
