.upward {
  position: fixed;
  bottom: 700px;
  right: 40px;
  width: 50px;
  height: 50px;
  background: url(../images/up-btn.png);
  background-size: cover;
  z-index: 50;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.upward.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}
