.backdrop-auth {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;

  width: 100%;
  height: 100%;

  padding-top: auto;
  padding-bottom: auto;

  background: rgba(0, 0, 0, 0.8);

  opacity: 1;
  visibility: visible;
  transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.visibility {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 310px;
  @media screen and (min-width: 480px) {
    width: 390px;
  }
}

.auth-container .hidden-tab {
  transform: translate(-50%, -50%) scale(0.2);
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  // color: var(--main-text-color);
  // background: #03e8f4c5;
  background: rgb(39 49 49 / 77%);
  opacity: 1;
  visibility: visible;
  pointer-events: none;
  font-family: sans-serif;
  transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.tabs-list {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  font-size: 16px;
  opacity: 1;
  visibility: visible;
  color: #03f6b0;
  // @media screen and (min-width: 480px) {
  //   margin-right: 10px;
  // }
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.top-left {
  border-top-left-radius: 8px;

  color: white;

  opacity: 1;
  visibility: visible;
  pointer-events: all;

  transition: background-color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.top-right {
  border-top-right-radius: 8px;

  color: white;

  // background: var(--main-dark-bg-color);

  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: background-color 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.log-in-email-container,
.log-in-password-container {
  position: relative;
}
.log-in-email,
.log-in-email-2 {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.log-in-email-label,
.log-in-email-2-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.log-in-email:focus ~ .log-in-email-label,
.log-in-email:valid ~ .log-in-email-label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.log-in-password {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.log-in-password-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.log-in-password:focus ~ .log-in-password-label,
.log-in-password:valid ~ .log-in-password-label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.log-in-email-2:focus ~ .log-in-email-2-label,
.log-in-email-2:valid ~ .log-in-email-2-label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}
.confirm-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
      0 0 100px #03e9f4;
  }
}
.confirm-btn span {
  position: absolute;
  display: block;
}
.confirm-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.confirm-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.confirm-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
.confirm-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
.del-msg {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;

  opacity: 1;
  visibility: visible;

  transition: opacity 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    visibility 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
}

.hidden-tab {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.login-eye-position.show-pswd,
.upd-eye-position.show-pswd,
.reg-eye-position.show-pswd {
  fill: var(--main-dark-bg-color);
  padding: 0;
  margin: 0;
}

.login-eye-position.hide-pswd,
.upd-eye-position.hide-pswd,
.reg-eye-position.hide-pswd {
  fill: #929292;
  padding: 0;
  margin: 0;
}

.login-eye-position {
  position: absolute;
  top: 200px;
  right: 49px;
  cursor: pointer;
}

.reg-eye-position,
.upd-eye-position {
  position: absolute;
  top: 276px;
  right: 49px;
  cursor: pointer;
}

.auth-modal-cross {
  position: absolute;
  top: 0px;
  right: 0px;
  fill: #fff;
  transition: fill 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71),
    box-shadow 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  border: none;
  cursor: pointer;
  background-color: #00000080;
  border-radius: 50%;
  &:focus,
  &:hover {
    fill: red;
    box-shadow: 1px 1px 55px 13px red;
  }
}
.update-btn {
  margin-right: 50px;
}
.del-msg-text {
  color: red;
}
.delAccBtnYes-btn {
  margin-right: 10px;
}
.modal__close-icon {
  background-color: inherit;
  border-radius: 50%;
}
